---
import { sellingPoints } from "../../config/sellingPoints";
import Card from "../ui/Card.astro";
---

<section class="selling-container">
  <h2 class="section-header">Ei bok om det som ikkje slepp taket.</h2>
<p class="section-ingress">
  Alt som er att er tidevatnet er Antoine Barnards første roman — 
  skriven over fleire år, utgitt hausten 2025.
</p>
  <div class="content-center">
    <div class="card-grid">
      {
        sellingPoints.map((sp) => (
          <Card
            icon={sp.icon}
            heading={sp.heading}
            body={sp.body}
            cta={sp.cta}
          />
        ))
      }
    </div>
  </div>
</section>
