---
// src/components/sections/ThreeColumns.astro
---

<section class="three-col-selection">
  <div class="three-col">
    <slot name="left" />
    <slot name="center" />
    <slot name="right" />
  </div>
</section>
