---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/sections/Hero.astro";
import SellingPoints from "../components/sections/SellingPoints.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import FAQ from "../components/sections/Faq.astro";
import Cta from "../components/sections/Cta.astro";
import Button from "../components/ui/Button.astro";

// Overstyre variant av knapp med custom class.
---

<BaseLayout title="Front page">
  <Hero />
  <SellingPoints />
  <Testimonials />
  <FAQ />
  <Cta 
  heading="Tidevatnet ventar ikkje." 
  ingress="Ei bok les du når du er klar — men nokre bøker finn deg før du veit det sjølv. No er ho her."
>
  <Button href="/utdrag" variant="secondary">Les eit utdrag ➤</Button>
  <Button href="/" class="btn-white">Kjøp boka ➤</Button>
</Cta>
</BaseLayout>
